﻿@model YelpSharp.Data.Business

<fieldset>
	@Html.Label(Model.name)
	<table>
		<tr>
			<td>
				<img src="@Model.image_url" />
			</td>
			<td>
				<table>
					<tr>
						<td>
							<img src="@Model.rating_img_url" />
						</td>
					</tr>
					<tr>
						<td>
							<b>Phone:</b> @Html.DisplayFor(model => model.display_phone)
						</td>
@*						<td>
							<b>Distance: </b> @Html.DisplayFor(model => model.distance)
						</td>*@
						
					</tr>
					<tr>
						<td>
							<b>Reviews: </b> @Html.DisplayFor(model => model.review_count)
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>

@*    <div class="display-label">mobile_url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.mobile_url)
    </div>

    <div class="display-label">phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.phone)
    </div>

    <div class="display-label">display_phone</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.display_phone)
    </div>

    <div class="display-label">review_count</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.review_count)
    </div>

    <div class="display-label">distance</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.distance)
    </div>

    <div class="display-label">rating</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating)
    </div>

    <div class="display-label">rating_img_url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating_img_url)
    </div>*@

@*    <div class="display-label">rating_img_url_small</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating_img_url_small)
    </div>

    <div class="display-label">rating_img_url_large</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.rating_img_url_large)
    </div>

    <div class="display-label">snippet_text</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.snippet_text)
    </div>

    <div class="display-label">snippet_image_url</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.snippet_image_url)
    </div>

    <div class="display-label">is_claimed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.is_claimed)
    </div>


    <div class="display-label">is_closed</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.is_closed)
    </div>*@

    <!-- render reviews if available -->
@*    @if (Model.reviews != null && Model.reviews.Count > 0) {
        <h2>Reviews</h2>  
        foreach (var review in Model.reviews) {
            @Html.Partial("YelpReviewCard", review)
        }
    }*@




</fieldset>